<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.cowan.b.annsearcher">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name=".frontend.activities.TestLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".frontend.activities.AnimeSearchActivity"/>
        <activity android:name=".frontend.activities.CharacterSearchActivity"/>
        <activity android:name=".frontend.activities.LoginActivity"/>
        <activity android:name=".frontend.activities.MainActivity"/>

    </application>

</manifest>
